.description{
    min-height: 100vh;
    
    position: relative;
    z-index: 1;
    &__wrap{
        display: flex;
        max-width: 1376px;
        padding: 0 60px;
        margin: 0 auto;
        align-items: center;
        height: 100%;
        justify-content: space-between;
    }
    &__subtitle{
        font-family: 'Montserrat';
        display: block;
        font-style: normal;
        font-weight: 600;
        font-size: 1.5rem;
        line-height: 110%;
        text-align: center;
        letter-spacing: -0.05em;
        text-align: justify;
        margin:20px 0 30px;
        background: radial-gradient(50% 50% at 50.09% 50%, #FF0000 0%, #B80000 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    &__title{
        font-size: 6.7rem;
        line-height: 1;
        font-weight: 500;
        text-align: justify;
        font-family: "Druk Text";
        color: #fff;
        letter-spacing: -0.05em;
        position: relative;
        margin-bottom: 70px;
        &_center{
            text-align: center; 
            span{
                width: 100%;
            }
        }
        span{
            background: radial-gradient(50% 50% at 50.09% 50%, #FF0000 0%, #B80000 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            position: absolute;
            bottom: -65%;
            display: flex;
            align-items: flex-end;
            line-height: 1.4;
            justify-content: center;
        }
    }
    
    &__text{
        position: relative;
        color: rgb(198, 198, 198);
        z-index: 2;
        max-width: 646px;
        font-size: 1.4rem;
        background: linear-gradient(96.41deg, #FFFFFF -0.4%, #5E5E5E 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        img{
            width: 130px;
            margin: 20px auto;
        }
        p{
            margin-bottom: 20px;
        }
    }
    .star{
        width: 140px;
        margin-bottom:4%;
    }
    &__block{
        font-size: 1.4rem;
        font-weight: 300;
        letter-spacing: 0.03rem;
        line-height: 1.5;
        position: relative;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: justify;
        overflow: hidden;
        width: 45%;
        &_size{
            width: 55%;
        }
    }
    &__art{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        &1{
            background: url(./../img/art1.webp) no-repeat left/contain;
        }
        &2{
            background: url(./../img/art2.webp) no-repeat right/contain;
            &_detail{
                background: url(./../img/art2_mask.webp) no-repeat right/contain; 
            }
        }
        &3{
            background: url(./../img/art3.webp) no-repeat left/contain;
            &_detail{
                background: url(./../img/art3_mask.webp) no-repeat left/contain;
            }
        }
        &4{
            background: url(./../img/art4.webp) no-repeat right/contain;
            &_detail{
                background: url(./../img/art4_mask.webp) no-repeat right/contain;
            }
        }
    }
   
}
#medusa .description__title{
    margin-bottom: 10px;
}

.video{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding: 0 40px;
}