.header__description{
    .subtitle__mobile{
        display: none;
    }
    i{
        font-style: normal;
    }
}
.header__title{
    display: none;
}
.arts__mobile{
    display: none;
}
.frame_blc{
    overflow:hidden;
    
    padding-bottom:56.25%;
    padding-top:30px;
    height:0;
    box-sizing: content-box;
  }
  .frame_blc iframe {
    position:absolute;
    width:80%;
    height:80%;
    left:0;
    right: 0;
    top:0;
    margin: 0 auto;
  }
  .video__block{
    z-index: 2;
    max-width:85%!important;
    height: 85%!important;
    top: 0;
  }
@media screen and (max-width: 1480px){
    .header{
        padding: 0 80px 40px;
    }
}
@media screen and (max-width: 1390px){
    .description__title{
        font-size: 6rem;
    }
    .description .star {
        top: 79px;
        width: 125px;
    }
    .description__wrap{
        padding: 0 90px;
    }
}
@media screen and (max-width: 1355px){
    .description__title{
        font-size: 5.4rem;
    }
    .header{
        padding: 0 95px 40px;
    }
    .mint, .buyBtn{
        max-width: 270px;
    }
    .buyBtn_link, .mint_link, .focus .mint_link{
        width: calc(100% - 4px)
    }
}
@media screen and (max-width: 1255px){
   .header__description{
       max-width: 320px;
   }
}
@media screen and (max-width: 1209px){
    html{
        font-size: 13px;
    }
}
@media screen and (max-width: 1190px){
    .description{
        .star{
            width: 100px;
        }
        &__title{
            font-size: 5rem;
        }
    }
}
@media screen and (max-width: 1070px){
    .description{
        .star{
            width: 80px;
        }
        &__title{
            font-size: 4rem;
        }
        &__wrap{
            padding: 0 64px;
        }
    }
    .networks{
        right: 20px;
    }
    .art img {
        width: 130px;
    }
}
@media screen and (max-width: 930px){
    html{
        font-size: 16px;
    }
    body, html, .menu{
        overflow-x: hidden;
    }
    header{
        height: 100vh;
        padding-top: 84px;
    }
    .focus__item:nth-child(2){
        margin: 0 auto 15px;
    }
    .arts{
        margin: 250px 0;
    }
    .arts__wrap{
        height: auto;
    }
    .header__description{
        .subtitle__mobile{
            display: block;
        }
        .subtitle__pc{
            display: none;
        }
    }
    .focus{
        &__list {
            flex-direction: column;
            padding: 0 40px;
            margin: 60px auto 0;
            &_2{
                flex-direction: column;
                padding: 0 40px;
                margin: 0 auto;
            }
        }
        &__item{
            width: 90%;
            margin: 0 auto 15px;
            
        }
        &__line{
            width: 258px;
        }
        &__title{
            margin-top: 20px;
        }
        .mint_link{
            width: calc(100% - 4px);
        }
        .mint_blue{
            margin: 70px auto 0;
        }
    }
    .team__title{
        max-width: 320px;
        margin: 0 auto 110px;
        font-size: 3rem;
    }
    .team{
        padding: 45% 40px;
    }
    .map{
        padding-top: 70px;
    }
    .map .description__title{
        font-size: 3rem;
    }
    .public+.description{
        min-height: auto;
    }
    
    .header{
        padding: 0 24px 100px;
        justify-content: space-between;
        position: static;
        height: 100%;
        width: 100%;
        left: 0;
        right: 0;
        margin: 0 auto;
        &__bg{
            height: 100%;
           
            margin: 0 auto;
            margin: 0;
            top: 0;
            background-size: 80%;
            &_mask{
                height: 100%;
                top: 0;
                background-size: 80%;
            }
        }
      
        &__title{
            display: block;
        }
        .title{
            &__wrap{
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
               svg{
                    width: 90%;
                    display: flex;
                    margin: 0 auto;
                   
                    
               }
            }
        }
        &__subtitle{
            width: 270px;
            position: static;
            flex-wrap: wrap;
            text-align: left;
            justify-content: center;
            margin: 0 auto;
            font-size: 1.2rem;
            margin-bottom: calc(50% - 68.5px - 31px);
        }
        &__bottom{
            flex-direction: column;
        }
        &__description{
            min-width: 100%;
            text-align: center;
            margin: 0;
            order: 1;
            i{
                display: block;
            }
        }
        &__tint{
            width: 100%;
            height: 100%;
            position: absolute;
            background-color: rgba(0, 0, 0, 0.3);
        }
    }
    .svg_title{
        display: none;
    }
    .mint, .buyBtn{
        margin: 0 auto;
        
    }
    .mint{
        margin-bottom: 12px;
    }
    .buyBtn{
        margin-bottom: 30px;
    }
    .networks{
        right: auto;
        left: 15px;
    }
    .mint, .buyBtn{
        width: 260px;
    }
    .logo img{
        width: 90%;
    }
    .focus__title{
        text-align: center;
        width: 100%;
    }
    .focus__line{
        right: 0;
        left: 0;
        width: 327px;
        margin: 0 auto;
    }
   
    .description{
        margin-bottom: 100px;
        &__text{
            max-width: 100%;
        }
        &__title{
            font-size: 4rem;
            text-align: center;
            span{
                justify-content: center;
                width: 100%;
            }
        }
        .star{
            width: 80px;
            margin-bottom: 3%;
        }
        &__wrap{
            padding: 0 52px 0 52px;
            flex-direction: column;
            > div{
                width: 100%;
            }
        }
        &__bg{
            width: 100%;
            position: absolute;
            right: 0;
            
        }
        &__art{
            background-position: center bottom;
            top: auto;
            bottom: -75px;
        }
        &__block{
            overflow: visible;
        }
    }
    .description__subtitle{
        text-align: center;
    }
    .arts__text{
        justify-content:flex-start;
    }
    .arts__text img{
        width: 80%;
    }
    .arts__wrap{
        padding: 0 35px;
        gap: 12px 0;
    }
    .video__wrap .description__title{
        font-size: 4rem;
        margin-bottom: 10px;
    }
    
   
    .video__wrap{
        iframe{
            margin: 0 auto;
        }
    }
    
    .public .steps{
        flex-direction: column;
        margin-top: 30px;
    }
    .steps__item{
        width: 100%!important;
        margin-bottom: 25px;
    }
    .snake{
        top: -20%;
    }
    .public .description__title{
        font-size: 3.2rem;
        margin-bottom: 40px;
    }
    .team{
        &__wrap {
            max-width: 525px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        &__item{
            margin: 0;
            width: 125px;
            height: 125px;
        }
        &__photo {
            width: 110px;
            height: 110px;
        }
    }
    .accordion {
        max-width: 1000px;
        padding: 0 30px;
    }
    .focus__item{
        color: #ccc;
    }
    .description__text{
        text-align: center;
    }
    .animation .header__bg{
        animation: show-bg-mobile 2s ease forwards 3.7s;;
    }
    .footer.description__wrap{
        padding: 0;
    }
    
}
@media screen and (max-width: 560px){
    html{
        font-size: 13px;
    }
    .description__title{
        font-size: 3.2rem;
    }
    .star{
        display: none;
    }
    .header__bg{
        transform: scale(1);
    }
    .arts__wrap2{
        grid-template-columns: 1fr 1fr;
    }
    .art{
        &:nth-child(7), &:nth-child(8){
            display: none;
        }
    }
    .arts{
        &__mobile{
            display: block;
        }
        &__text{
            height: 100%;
            overflow: hidden;
            top: 0;
            justify-content: space-evenly;
            img{
                width: 100%;
            }
        }
    }
    .video__wrap .description__title{
        font-size: 2.5rem;
        margin-bottom: 20px;
    }
    .video__btn-block{
        & > div{
            transform: scale(0.4);
        }
    }
    .focus__line{
        width: 270px;
    }
    .team__title{
        max-width: 60%;
    }
    .team{
        &__photo{
            width: 80px;
            height: 80px;
        }
        &__item{
            width: 95px;
            height: 95px;
        }
    }
    .footer__border{
        width: 100%;
        flex-direction: column-reverse;
        align-items: center;
    }
    .footer__text{
        margin-top: 20px;
    }
    .mint, .buyBtn{
        width: 210px;
        height: 50px;
        border-radius: 12px;
    }
    .buyBtn_link, .mint_link{
        height: calc(100% - 4px);
        line-height: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 12px;
        font-size: 1.2rem;
    }
}
@media screen and (max-width: 356px){
    html{
        font-size: 12px;
    }
    .header__subtitle{
        width: 100%;
    }
    .mint, .buyBtn{
        width: 200px;
    }
    .networks{
        font-size: 1.7rem;
    }
    .focus__line{
        width: 80%;
    }
    .map .description__title {
        font-size: 2.4rem;
    }
}



