body{
    background: #000000; 
    
    color: #fff;
}
.body-overflow{
    overflow: hidden;
}

.bg_shine{
    position: absolute;
    width: 25%;
    height: 25%;
    left: 772px;
    top: 306px;
    background: #C4C4C4;
    filter: blur(287px);
    margin: 0 auto;
    left: 0;
    right: 0;
    opacity: 0;
    z-index: 1;
}
#main-title{
    fill: transparent;
    margin: 40px 0 20px;
}
.header{
    max-width: 1376px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100vh;
    padding:0 50px 40px;
    position: relative;
    overflow: hidden;
    &__bg{
        height: calc(85% - 84px);
        width: 100%;
        position: absolute;
        background: url(../img/bg.webp) no-repeat center/contain;
        top: 0;
        left: 0;
        right: 0;
        margin: 84px auto 0;
        opacity: 0;
        transform: scale(1.2);
        &_mask{
            height: 100%;
            width: 100%;
            position: absolute;
            background: url(../img/eyes.png) no-repeat center/contain;
            top: 0;
            opacity: 0;
            z-index: 3;
        }
       
    }
    .title__wrap{
        position: relative;
    }
    &__subtitle{
        position: absolute;
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 100%;
        text-align: right;
        color: #A1A3A4;
        mix-blend-mode: normal;
        right: 0;
        top: 0;
        display: flex;
        span{
            font-family: 'Druk Text';
        }
        .space{
            font-family: sans-serif;
        }
        .bold{
            display: flex;
            span{
                font-weight: 700;
                color: #fff;
            } 
            .space{
                font-family: sans-serif;
            }
        }
       
    }
    &__bottom{
        opacity: 0;
        display: flex;
        justify-content: space-between;
    }
    &__description{
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 1.2rem;
        line-height: 1.1;
        text-align: center;
        letter-spacing: 0.05em;
        color: #B6B7B8;
        max-width: 480px;
        margin-left: 20px;
        margin-right: 20px;
        span{
            font-family: "Montserrat";
            font-weight: 900;
            color: rgba(254, 70, 70, 0.5);
        }
    }
}

.mint, .buyBtn{
    border-radius: 16px;
    backdrop-filter: blur(48px);
    width: 330px;
    height: 60px;
    top: 0;
    background: linear-gradient(180deg, #ff9999 0%, rgba(254, 70, 70, 0.5) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    &_link{
        font-family: "Druk Text";
        font-weight: 500;
        display: block;
        background: rgb(10, 10, 10);
        width: 326px;
        height: 54px; 
        border-radius: 16px;
        font-weight: 500;
        font-size: 1.42rem;
        line-height: 54px;
        text-align: center;
        color: #fff;
        text-decoration: none;
        overflow: hidden;
        position: relative;
        span{
            display: inline-block;
            transform: scale(1,0);
            transition: 0.2s linear;
            position: absolute;
            top: 50%;
            left: 50%;
        }
        &:hover span{
            transform: scale(1,1);
            background: radial-gradient(50% 50% at 50% 50%, #cd2b2b84 0%, rgba(255, 0, 0, 0.831) 100%);
            box-shadow: 0px 0px 80px 62px rgba(198, 66, 66, 0.3);
            border-radius: 4px;
        }
    }
}
.buyBtn{
    background: linear-gradient(180deg, #C37FC6 0%, rgba(194, 152, 207, 0.5) 100%);
    &:hover span{
        background: radial-gradient(50% 50% at 50% 50%, #C17EC433 0%, rgba(193, 126, 196, 0.2) 100%);
        box-shadow: 0px 0px 80px 62px rgba(193, 126, 196, 0.3);
    }
}



.fa-discord:hover {
    transition: 0.2s linear;
    opacity: 1;
    color: #8686db;
  }
  
  .fa-twitter:hover {
    transition: 0.2s linear;
    color: #00acee;
    opacity: 1;
  }
  
  .fa-instagram:hover {
    transition: 0.2s linear;
    color: #e62a88;
    opacity: 1;
  }

.networks{
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 9999;
    bottom: 50px;
    right: 40px;
    opacity: 0;
    i{
        color: #fff;
        opacity: 0.15;
        margin-bottom: 40px;
    }
}