
@media screen and (max-width: 1480px){
    .header{
        padding: 0 80px 40px;
    }
}
@media screen and (max-width: 1390px){
    .description__title{
        font-size: 6rem;
    }
    .description .star {
        top: 79px;
        width: 125px;
    }
    .description__wrap{
        padding: 0 90px;
    }
}
@media screen and (max-width: 1355px){
    .description__title{
        font-size: 5.4rem;
    }
    .header{
        padding: 0 95px 40px;
    }
    .mint, .buyBtn{
        max-width: 270px;
    }
    .buyBtn_link, .mint_link{
        width: calc(100% - 4px)
    }
}
@media screen and (max-width: 1255px){
   .header__description{
       max-width: 320px;
   }
}
@media screen and (max-width: 1209px){
    html{
        font-size: 13px;
    }
 }
.header__title{
    display: none;
}
.header__description{
    i{
        font-style: normal;
    }
}


@media screen and (max-width: 600px){
    header{
        height: 100vh;
        padding-top: 84px;
    }
    .focus{
        display: none;
    }
    .header{
        padding: 0 24px 40px;
        justify-content: space-between;
        position: static;
        height: 100%;
        
        &__bg{
            height: 100%;
            margin: 0;
            top: 0;
            background-size: 80%;
        }
        &__title{
            display: block;
            margin-bottom: 30px;
        }
        .title{
            &__wrap{
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
               svg{
                    width: 90%;
                    display: flex;
                    margin: 0 auto;
               }
            }
        }
        &__subtitle{
            width: 270px;
            position: static;
            flex-wrap: wrap;
            text-align: left;
            justify-content: center;
            margin: 0 auto;
            font-size: 1.2rem;
        }
        &__bottom{
            flex-direction: column;
        }
        &__description{
            order: 1;
            i{
                display: none;
            }
        }
        &__tint{
            width: 100%;
            height: 100%;
            position: absolute;
            background-color: rgba(0, 0, 0, 0.3);
        }
    }
    .svg_title{
        display: none;
    }
    .mint, .buyBtn{
        margin: 0 auto;
        
    }
    .mint{
        margin-bottom: 12px;
    }
    .buyBtn{
        margin-bottom: 30px;
    }
    .networks{
        right: auto;
        left: 15px;
    }
    .mint, .buyBtn{
        width: 260px;
    }
    .logo img{
        width: 90%;
    }
}

@media screen and (max-width: 320px){
    .header__subtitle{
        width: 100%;
    }
    .mint, .buyBtn{
        width: 220px;
    }
}