nav{
    position: absolute;
    z-index: 5;
    width: 100%;
    opacity: 0;
}

.nav{
    max-width: 1376px;
    padding: 0 40px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 84px;
    align-items: center;
    &_fixed{
        position: fixed;
        background-color: #000c;
        .nav{
            animation: show-up 0.7s linear forwards;
        }
        
    }
}

.logo{
    margin-right: 80px;
    img{
        width: 80px;
    }
}
.menu{
    width:  1189px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 1.14rem;
    line-height: 90%;
    letter-spacing: -0.05rem;
    height: 100%;
    transition: 0.3s linear;
    &__item{
        color: rgba(255, 255, 255, 0.5);
        text-decoration: none;
        text-align: center;
    }
    &__item:hover{
        color: #fff;
    }
}